<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Zedtown</title>

<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/zedtown.css" type="text/css" media="screen" />

</head>
<body>

    <div id="message">
    <% if @message == :infected %>
        <p>Player has been infected and is now a zombie!</p>
    <% elsif @message == :invalid %>
        <p>That wasn't a valid ID. Try again.</p>
    <% elsif @message == :already %>
        <p>This player has already been infected!</p>
    <% end %>
    </div>

	<form action="/submit" method="post">
        <label>Player ID:</label>
        <input type="text" id="player_id" name="player_id">
        <input type="submit" value="Submit">
    </form>

</body>
</html>