<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Zedtown</title>

<link rel="stylesheet" href="/styles/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/styles/zedtown.css" type="text/css" media="screen" />

</head>
<body>

	<form action="/submit" method="post">
        <label>Player ID:</label>
        <input type="text" id="player_id" name="player_id">
        <input type="submit" value="Submit">
    </form>

</body>
</html>