<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Zedtown - Revert Infected</title>

<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/zedtown.css" type="text/css" media="screen" />

</head>
<body>

    <a href="/"><img src="images/logo.png"></a>

    <div id="message">
    <% if @message == :reverted %>
        <p class="success">Player is no longer marked as being infected!</p>
    <% elsif @message == :invalid %>
        <p class="error">That wasn't a valid ID. Try again.</p>
    <% elsif @message == :already %>
        <p class="error">This player is not infected!</p>
    <% end %>
    </div>

    <div id="instructions">
        <h2>Revert Infection</h2>
        <p>Enter the ID of the player who is incorrectly marked as being infected.</p>
    </div>

    <form action="/revert" method="post" id="revert">
        <span><input type="text" id="player_id" name="player_id"></span>
        <input type="submit" value="Revert">
    </form>

</body>
</html>